:root{
  --light-bg: #FFFFFF;
  --dark-bg-500: #2E323F;
  --dark-bg-300: #3B4050;
  --primary-clr: #A59678;
  --secondary-clr: #6f737F;
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'open sans';
}

img{
  max-width: 100%;
}

h2{
  margin-bottom: 1rem;
  line-height: 1.1;
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  line-height: 1.6;
}

.container{
  width: min(85%, 1200px);
  margin: 0 auto;
  position: relative;
}

.nav-toggle{
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: .3rem;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.hamburger{
 width: 50%;
 height: 3px;
 background: rgb(80, 80, 80);
 display: block;
 position: absolute;
 top: 40%;
 right: 50%;
 transform: translate(50%, 90%);
}

.hamburger::before{
  content: '';
  display: block;
  width: 80%;
  height: 3px;
  background: rgb(80, 80, 80);
  position: absolute;
  top: 8px;
}

.hamburger::after{
  content: '';
  display: block;
  width: 60%;
  height: 3px;
  background: rgb(80, 80, 80);
  position: absolute;
  bottom: 8px;
}

.logo{
  display: inline-flex;
  height: 3rem;
}

header{
  background-color: var(--dark-bg-500);
  padding: 1rem 0;
  text-align: center;
}

.nav{
  width: 100%;
  color: #fff;
  margin-top: 2rem;
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible{
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__item{
  width: 100%;
}

.nav__list--primary{
  margin-bottom: 1rem;
}

.nav__link{
  display: block;
  padding: .5rem 0;
  text-transform: uppercase;
}

.nav__link:hover{
  background-color: #3B4050;
  color: var(--primary-clr);
}


/* Intro section */

.intro{
  background-color: var(--dark-bg-300);
  min-height: 660px;
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.intro__title{
  font-weight: 900;
  font-size: 42px;
  color: #fff;
}

.intro__title--accent{
  color: var(--primary-clr);
}

.intro__desc{
  font-size: 21px;
  color: rgb(204, 204, 204);
  margin-top: 1rem;
}

.intro__desc button{
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  background-color: var(--primary-clr);
  color: white;
  border-radius: 10rem;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  border: none;
}


.section-two{
  background: rgb(246, 246, 246);
  color: var(--dark-bg-500);
  text-align: center;
  padding: 5rem 0;
}

.section-two h2{
  color: var(--primary-clr);
  font-size: 30px;
}

.section-two .col + .col{
  margin-top:  2rem;
}


/* section three */

.section-three{
  padding: 5rem 0;
}

.section-three .section-title{
  color: var(--primary-clr);
}

.section-three img{
  margin-block: 1rem;
}

.features{
  margin-top: 2rem;
}

.features > div{ 
  background-color: var(--dark-bg-500);
  color: white;
  padding: 1rem;
  text-align: center;
}

.features > div + div{
  margin-top: 1rem;
}


/* footer */
.footer{
  background: var(--dark-bg-500);
  padding: 5rem 0;
  color: var(--secondary-clr);
}

.footer__title{
  color: var(--light-bg);
  font-size: 24px;
}

.footer__list-container{
  margin-top: 1rem;
}

.footer__list-title{
  color: var(--primary-clr);
}

.footer__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}