:root{
  --light-bg: #FFFFFF;
  --dark-bg-500: #2E323F;
  --dark-bg-300: #3B4050;
  --primary-clr: #A59678;
  --secondary-clr: #6f737F;
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'open sans';
}

img{
  max-width: 100%;
}

h1{
  line-height: 1.1;
}

h2{
  margin-bottom: 1rem;
  line-height: 1.1;
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  line-height: 1.6;
}

.container{
  width: min(85%, 1200px);
  margin: 0 auto;
  position: relative;
}

.nav-toggle{
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: .3rem;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.hamburger{
 width: 50%;
 height: 3px;
 background: rgb(80, 80, 80);
 display: block;
 position: absolute;
 top: 40%;
 right: 50%;
 transform: translate(50%, 90%);
}

.hamburger::before{
  content: '';
  display: block;
  width: 80%;
  height: 3px;
  background: rgb(80, 80, 80);
  position: absolute;
  top: 8px;
}

.hamburger::after{
  content: '';
  display: block;
  width: 60%;
  height: 3px;
  background: rgb(80, 80, 80);
  position: absolute;
  bottom: 8px;
}

.logo{
  display: inline-flex;
  height: 3rem;
}

header{
  background-color: var(--dark-bg-500);
  padding: 1rem 0;
  text-align: center;
}

.nav{
  width: 100%;
  color: #fff;
  margin-top: 2rem;
  visibility: hidden;
  height: 0;
  position: absolute;
  flex-grow: 1;
  
}

.nav--visible{
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nav__item{
  width: 100%;
}

.nav__list--primary{
  margin-bottom: 1rem;
  flex-grow: 1;
}

.nav__link{
  display: block;
  padding: .5rem 0;
  text-transform: uppercase;
}

.nav__link--button{
  background-color: var(--primary-clr);
  color: var(--dark-bg-500);
  border-radius: 5rem;
  padding: .5rem 1rem;
  font-weight: bold;
  white-space: nowrap;
}


.nav__link:hover{
  background-color: #3B4050;
  color: var(--primary-clr);
}

@media (min-width: 700px){
  .nav-toggle{
    display: none;
  }

  .nav{
    margin-top: 0;
    visibility: visible;
    height: auto;
    position: relative;
    display: flex;
  }

  .nav__list{
    flex-direction: row;
  }

  .nav__item{
    width: auto;
  }

  .nav__link{
    padding-inline: 1rem;
  }
  .nav__list--primary{
    margin-bottom: 0;
  }
}

/* Intro section */

.intro{
  background-color: var(--dark-bg-300);
  min-height: 41.25rem;
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.intro__title{
  font-weight: 900;
  font-size: 2.625rem;
  color: #fff;
}

.intro__title--accent{
  color: var(--primary-clr);
}

.intro__desc{
  font-size: 1.313rem;
  color: rgb(204, 204, 204);
  margin-top: 1rem;
}

.intro__desc button{
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  background-color: var(--primary-clr);
  color: white;
  border-radius: 10rem;
  font-size: 1.313rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  border: none;
}

@media (min-width: 700px){
  .intro__desc{
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px){
  .intro__title{
    width: 65%;
    font-size: 5.625rem;
  }
  .intro__desc{
    width: 48%;
    align-self: flex-end;
  }
}


/* section two */

.section-two{
  background: rgb(246, 246, 246);
  color: var(--dark-bg-500);
  text-align: center;
  padding: 5rem 0;
}

.section-two h2{
  color: var(--primary-clr);
  font-size: 1.875rem;
}

.section-two .col + .col{
  margin-top:  2rem;
}

@media (min-width: 700px){
  .section-two .col + .col{
    margin-top:  0rem;
  }
}

@media (min-width: 1000px){
  .section-two .row > .col{
    width: 30%;
  }
}


/* section three */

.section-three{
  padding: 5rem 0;
}

.section-three .section-title{
  color: var(--primary-clr);
}

.section-three img{
  margin-block: 1rem;
}

.features{
  margin-top: 2rem;
}

.features > div{ 
  background-color: var(--dark-bg-500);
  color: white;
  padding: 1rem;
  text-align: center;
}

.features > div + div{
  margin-top: 1rem;
}

@media (min-width: 700px){
  
  .section-three .section-title{
    font-size: 2.25rem;
  }

  .section-three .container.row{
    flex-direction: column;
  }

  .section-three img{
    object-fit: cover;
    width: 100%;
    max-height: 15rem;
  }

  .row{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .features > div + div{
    margin-top: 0;
  }
}

@media (min-width: 1000px){
  .section-three .container.row{
    flex-direction: row;
  }

  .main-content{
    width: 60%;
  }

  .features{
    flex-direction: column;
    width: 35%;
  }
}

/* footer */
.footer{
  background: var(--dark-bg-500);
  padding: 5rem 0;
  color: var(--secondary-clr);
}

.footer__title{
  color: var(--light-bg);
  font-size: 1.5rem;
}

.footer__list-container{
  margin-top: 1rem;
}

.footer__list-title{
  color: var(--primary-clr);
}

.footer__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 700px){
  .footer__title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .footer .container > .row{
    flex-wrap: wrap;
  }
}

@media (min-width: 1000px){
  .footer__list-desc{
    width: 35%;
  }
  .footer .container > .row{
    flex-wrap: nowrap;
  }
  .footer__list-container{
    margin-top: 0rem;
  }
}