:root{
  --clr-bg: #23424A;
  --clr-accent: #38CFD9;
  --clr-primary: #136C72;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 31px;
  margin-bottom: 1rem;
}

section{
  padding: 3rem 0;
}

.hero{
  background: var(--clr-bg);
  color: white;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero__text{
  background: red;
  width: 60%;
}

.hero__img{
  align-self: flex-start;
  border: 5px solid green;
  width: 30%;
}

.hero__text p,
.hero__text button{
  font-size: 1,3rem;
}

.hero__text p{
  margin-top: 1rem;
  color: rgb(223, 223, 223);
  line-height: 1.5;
  max-width: 60ch;
}

.btn{
  cursor: pointer;
  margin-top: 2rem;
  background: var(--clr-accent);
  color: var(--clr-bg);
  border: none;
  border-radius: 2rem;
  padding: .8rem 2rem;
  font-weight: bold;
  white-space: nowrap;
}

.row{
  display: flex;
}